[Unit]
Description = Python API Service
After = network.target

[Service]
user = guest
group = guest
ExecStart = usr/bin/python3 /home/guest/CPSC222_assignments/API.py
Description = Python API Service
After = network.target

[Install]
WantedBy = Multi-user.target
Restart = always
